.img{
    width:50px;
    height:50px;
    border-radius:50%;
   

}
.cont_img_txt{
  
  
}
.title_online_typing{
  color: rgb(143, 134, 134);

font-size: 13px;
font-weight: 300;
line-height: 20px;
}
.cont_header{
  padding-top: 19px;
  padding-left: 30px;
  display: flex;
  justify-content: start;
  gap: 11px;
  padding-bottom: 19px;
}
.title{
  color: rgb(0, 0, 0);
  font-size: 16px;
font-weight: 600;
line-height: 24px;
}
.line{
    height: 0.5px;
    width: 100%;
    background-color: black;
}

.input_txt{
    padding:10px;
    width: 800px;
}

.form{
    position: fixed;
    left: 35%; 
    bottom: 0;
}
.msgItem{

    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 1.4;
    word-wrap: break-word;
    max-width: 70%;

}

.their{
    background-color: #dcf8c6;
    align-self: flex-end;
    border-bottom-right-radius: 0;
    text-align: right;
  
}
.own{
    background-color: #f1f0f0;
    align-self: flex-start;
    border-bottom-left-radius: 0;
    text-align: left;
}
.msgList{
     display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 10px;
 
}


.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
  }
  .chatContainer {
    height: 600px;
    overflow-y: auto;
    padding-bottom: 60px; 
    scroll-behavior: smooth;
    border: 1px solid #ccc;
  }
  
  .blurred {
    filter: blur(4px);
    pointer-events: none;
  }
  
  .focused {
    filter: none !important;
    position: relative;
    z-index: 10;
  }
  
  .msgSettingsWrapper {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 20;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
  }
  .lastStatus {
    text-align: right;
    font-size: 0.8rem;
    color: grey;
   
    margin-right: 10px;
  }
