.container {
    display: grid;
    grid-template-columns: 100%;
  }
  .backBtn {
    position: absolute;
    top: 20px;
    left: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
  }
 
  .chat {
    display: none;
  }
  

  @media screen and (min-width: 768px) {

  

    .chatVisible {
      display: block;
    }

    .backBtn{
        display: block;
    }
  }
  

@media screen and (min-width:1158px){
    .container {
        grid-template-columns: 30% 70%;
      }
    .chat{
        display: block;
    }
    .container{
        display:grid;
        grid-template-columns: 30% 70%;
    }

    .backBtn{
        display: none;
    }
}
