.wrapper {
  position: fixed;
  inset: 0;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 190px;
  align-items: center;
  background-color: rgba(92, 6, 6, 1);
  z-index: 300;
}
.content {
  position: relative;

  margin: 0 auto;

  max-width: 500px;
  border-radius: 5px;
}
.txt_about {
  color: rgb(255, 255, 255);

  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.close {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}
.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.input_photo {
}

.field_photo {
  border: 1px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;

  margin-bottom: 10px;
  position: relative;
}
.user {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.cont_update {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.info {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 120px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
.cont_photo {
  display: flex;
  gap: 63px;
  margin-bottom: 20px;
}
.txt_details {
  color: rgb(255, 255, 255);

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.inputs {
  display: flex;
  justify-content: space-between;
}
.input_info {
  background-color: transparent;
  border: none;
  width: 100%;
}
.input_info::placeholder {
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

input[type="file"] {
  display: none;
}

.custom_file_upload {
  color: white;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
}
